h1 {
   padding: 5px;
    border: 10px 10px ;
    margin: 20px 0px 50px 0px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: black;
    font-size: 20px;
}

   

.row{
    content: 10px 10px;
    padding-bottom: 20px;
    border: 5px 5px 5px 5px;
    margin:1px;
    color: blue;
   
}
.form-row{
   padding-left:25px;
   padding-top: 50px;
   color: white;
   font-style: italic;
   font-weight: bolder;
}
.form-group{
    padding-top: 40px;
    padding-left: 30px;
}
 


.jumbotron-ch{
    
  
  
    background-color: black;
    font-size: 15px;
    border-radius: .3rem;
    color: white;
}

img {
    
    margin-top: 20px;
    height: 300px;
    width: 700px;
  }

footer {

    padding-bottom: 10px;
    font-size: 15px;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    
}





 body{
    background-image: url(./danny1.jpg);
}

#invalidCheck{

color: white;
}



